:host {
  display: block;    
}

button {
  font-size: 32px;
  border: none;
  background: none;
  padding: 0;
  color: var(--star-rating-disabled-color, #c1bfbd);
  cursor: pointer;
}

button:focus {
  outline: none;
}

.selected {
  color: var(--star-rating-enabled-color, #f4a810);
}
